### IntelliJ IDEA ###
.idea/
out/
!HomeWork5_5/src/main/**/out/
!**/src/test/**/out/
!**/src/test/**/TODO.md

# Ignore build output directory in HomeWork5 module
HomeWork5/target/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!HomeWork5_5/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store